@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
	margin: 0;
	font-family: "Quicksand";
	color: #333;
}

.appHeadline {
	font-family: "Dancing Script";
	font-size: 4em;
	color: #00755e;
}

/* NAV BAR CSS  */

.navbar a {
	text-decoration: none;
}

.navbar {
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.links {
	display: flex;
}

.links a {
	padding: 0 0.5em;
	font-size: 1.1rem;
}

.links a:hover {
	color: #00755e;
	font-weight: bolder;
	text-decoration: underline;
}
