@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Quicksand:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	font-family: "Quicksand";
	padding: 0;
	color: black;
}

.content {
	min-height: 100vh;
	min-width: 100vw;
	margin: 7rem 0rem;
}

h1 {
	font-size: 2em;
	font-weight: 600;
}

h2 {
	font-size: 1.7em;
	font-weight: 600;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	box-sizing: border-box;
}
