@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
	margin: 0;
	font-family: "Quicksand";
	color: #333;
	box-sizing: border-box;
}

.content {
	margin-bottom: 15rem;
	padding-bottom: 15rem;
}

h2 {
	font-size: 2em;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
