.country-detail {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 0 2rem;
	margin: 0 4rem;
}

span {
	color: #00755e;
}

.country-detail .about {
	width: 45vw;
}

.country-detail h1,
h2 {
	text-transform: uppercase;
	font-weight: 700;
}

.country-detail h3 {
	font-size: 1.1em;
	font-weight: 400;
}

.about * {
	padding: 0.3rem 0;
}

.about {
	margin-bottom: 2rem;
}

.essentials * {
	padding: 0.3rem 0;
}
