.country-detail {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 0 2rem;
	margin: 0 4rem;
}

h1 span {
	color: #00755e;
	font-size: 1.2em;
}

.image-grid {
	width: 100%;
	height: 45vh;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(4, 1fr);
	margin-inline: auto;
}

.image-grid img {
	width: 100%;
}

.image:last-child {
	background-color: #7ae3ce !important;
	grid-column-start: 4;
	grid-row: 1/3;
}

.image:first-child {
	background-color: #37c8ab;
}

.span-2 {
	grid-column: span 2;
}

.image {
	border-radius: 2rem;
	background-color: #00755e;
}
